  

  .html {
    height: 30px;
    width: 30%;
    background-color: red;
  }
  .javascript {
    height: 30px;
    width: 20%;
    background-color: orange;
  }
  .css {
    height: 30px;
    width: 25%;
    background-color: brown;
  }
  .python {
    height: 30px;
    width: 10%;
    background-color: purple;
  }
  .photo-of-me {
    background-image: url("/public/me.png");
    padding-bottom: 336px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .no-margin {
    margin: 0px;
  }
  #about-me {
    background-color: white;
  }
  #exp {
    background-color: black;
    color: white;
  }
  #footer {
    text-align: center;
    width: 100%;
  }